/* Base styles */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding-top: 320px; 
    padding-bottom: 60px; /* Space for the fixed footer */
}

/* Header styles */
header {
    background: url("Tara_Bike1.png") no-repeat center center;
    background-size: cover;
    padding: 60px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px; 
    font-family: "Times New Roman", Times, serif;
    z-index: 1000;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Footer styles */
footer {
    background-color: rgb(241, 204, 102);
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Product styles */
.product {
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* Product styles */
.product 1 {
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    background-color: #008000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.product 2 {
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    background-color: #008000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Table styles */
.product-specs {
    width: 100%;
    border-collapse: collapse;
}

.product-specs th, .product-specs td {
    border: 1px solid #ddd;
    padding: 8px;
}

.product-specs tr:nth-child(even) {
    background-color: #fffa9d;
}

.product-specs tr:hover {
    background-color: #ddd;
}

/* Form styles */
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form form {
    border: 1px solid #373736;
    padding: 20px;
    border-radius: 10px;
}

.contact-form fieldset {
    border: none;
}

.contact-form legend {
    font-weight: bold;
    border-bottom: 1px solid #0d0d0d;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;

}








